body {
	font-family: 'Roboto', sans-serif;
	background: #E5E5E5;
}
h2{
    display: none;
}

#contenedor{
    justify-content: center;
    width: 40%;
    margin-top: 4rem;
}

.btn{
    align-items: flex-end;
}

.formulario__grupo-correcto {
	color: #0a0a0a;
	opacity: 1;
}

.formulario__grupo-incorrecto  {
	color: #bb2929;
}



.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.error{
    color: red;
    
}

.casillaFaltante{
    text-align: center;
    color: white;
    margin-top: 1.5rem;
    padding: 0.2rem;
    background-color: red;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

.correcto{
    text-align: center;
    color: var(--blanco);
    background-color: greenyellow;

}

